<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{{title}}</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="" />
    </head>
    <body>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Document</th>
                </tr>
            </thead>
            <tbody>
                {% for student in object_list %}
                <tr>
                    <td>{{student.id}}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.document}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>
